$primary: #111111;
$primary-hover: #252525;
$secondary: #D9D9D9;
$text-primary: #cfcfcf;
$background: #060606, #1C1E1F;
$accent-primary: #353535;
$gradient-green: #46aaaa, #94e293;
$gradient-red: #ac5967, #f54e4e;
$loading-bar-second: #555655;

$button-outline: 1px;
